<!DOCTYPE html><!DOCTYPE html>
<html class="html" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>UI for test</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" href="../../assets/fonts/Montserrat-Bold/fonts.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="../../assets/fonts/Montserrat-Regular/fonts.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="../../assets/fonts/Quicksand-Bold/fonts.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="../../assets/fonts/Quicksand-Regular/fonts.css" type="text/css" charset="utf-8">
    <link type="text/javascript" src="./index.js">
    <link type="text/javascript" src="./jquery.js">
    <link type="text/javascript" src="./jquery.maskedinput.min.js">
  </head>
  <body class="body">
    <div class="ui">
      <section class="cards">
        <div class="cards__col-first">
          <div class="cards__find-room">
            <div class="find-room">
              <div class="find-room__content">
                <div class="find-room__title">Найдём номера под ваши пожелания
                </div>
                <div class="find-room__dropdown">
                  <div class="date-dropdown">
                    <div class="date-dropdown__title">
                      <label class="date-dropdown__label date-dropdown__label date-dropdown__label_undefined" for="date-dropdown-default">прибытие
                      </label>
                    </div>
                    <div class="date-dropdown__input">ДД.ММ.ГГГГ
                    </div>
                  </div>
                  <div class="date-dropdown">
                    <div class="date-dropdown__title">
                      <label class="date-dropdown__label date-dropdown__label date-dropdown__label_undefined" for="date-dropdown-default">выезд
                      </label>
                    </div>
                    <div class="date-dropdown__input">ДД.ММ.ГГГГ
                    </div>
                  </div>
                </div>
                <div class="find-room__long-dropdown">
                  <div class="dropdown dropdown_">
                    <div class="dropdown__title">
                      <label class="dropdown__label">гости
                      </label>
                      <div class="dropdown__hover-text">
                      </div>
                    </div>
                    <div class="dropdown__select dropdown__select dropdown__select_undefined dropdown__select_">Сколько гостей
                    </div>
                  </div>
                </div>
                <button class="button button button_long button button_long_with-arrow"> 
                  <div class="text text_button">подобрать номер
                  </div>
                </button>
              </div>
            </div>
          </div>
          <div class="reg-user">
            <div class="reg-user__content">
              <div class="reg-user__title">Регистрация аккаунта
              </div>
              <div class="reg-user__name">
                <div class="text-field">
                  <div class="text-field__title">
                    <label class="text-field__label text-field__label text-field__label_undefined">
                    </label>
                    <div class="text-field__hover-text">
                    </div>
                  </div><input class="text-field__input text-field__input text-field__input_undefined" placeholder="Имя" type="text"/>
                </div>
              </div>
              <div class="reg-user__surname">
                <div class="text-field">
                  <div class="text-field__title">
                    <label class="text-field__label text-field__label text-field__label_undefined">
                    </label>
                    <div class="text-field__hover-text">
                    </div>
                  </div><input class="text-field__input text-field__input text-field__input_undefined" placeholder="Фамилия" type="text"/>
                </div>
              </div>
              <div class="reg-user__radio">
                <div class="reg-user__radio-button">
                  <div class="radio">
                    <label class="radio__label"><input class="radio__input" type="radio" name="gender"/><span class="radio__span"></span>Мужчина       
                    </label>
                  </div>
                </div>
                <div class="radio">
                  <label class="radio__label"><input class="radio__input" type="radio" name="gender"/><span class="radio__span"></span>Женщина       
                  </label>
                </div>
              </div>
              <div class="text-field">
                <div class="text-field__title">
                  <label class="text-field__label text-field__label text-field__label_undefined">дата рождения
                  </label>
                  <div class="text-field__hover-text">
                  </div>
                </div><input class="text-field__input text-field__input text-field__input_undefined" placeholder="ДД.ММ.ГГГГ" type="text" pattern="d{1,2}/d{1,2}/d{4}"/>
              </div>
              <div class="reg-user__login-data">
                <div class="reg-user__email">
                  <div class="text-field">
                    <div class="text-field__title">
                      <label class="text-field__label text-field__label text-field__label_undefined">Данные для входа в сервис
                      </label>
                      <div class="text-field__hover-text">
                      </div>
                    </div><input class="text-field__input text-field__input text-field__input_undefined" placeholder="Email" type="email"/>
                  </div>
                </div>
                <div class="text-field">
                  <div class="text-field__title">
                    <label class="text-field__label text-field__label text-field__label_undefined">
                    </label>
                    <div class="text-field__hover-text">
                    </div>
                  </div><input class="text-field__input text-field__input text-field__input_undefined" placeholder="Пароль" type="password"/>
                </div>
              </div>
              <div class="toggle">
                <label class="toggle__label"><input class="toggle__input" type="checkbox"/><span class="toggle__span"><span class="toggle__round"></span></span><span class="toggle__label-text">Получать спецпредложения</span>
                </label>
              </div>
              <div class="reg-user__button">
                <button class="button button button_long button button_long_with-arrow"> 
                  <div class="text text_button">перейти к оплате
                  </div>
                </button>
              </div>
              <div class="reg-user__sign-in">
                <div class="reg-user__comment">Уже есть аккаунт на Toxin
                </div>
                <button class="button button button_short button button_light">войти
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="cards__col-second">
          <div class="cards__summary">
            <div class="summary">
              <div class="summary__content">
                <div class="summary__head">
                  <div class="summary__head-elem">
                    <div class="summary__num">№
                    </div>
                    <div class="summary__num-set">888
                    </div>
                    <div class="summary__class">люкс
                    </div>
                  </div>
                  <div class="summary__head-elem">
                    <div class="summary__sum-set">9 990₽
                    </div>
                    <div class="summary__interval">в сутки
                    </div>
                  </div>
                </div>
                <div class="summary__dropdown">
                  <div class="date-dropdown">
                    <div class="date-dropdown__title">
                      <label class="date-dropdown__label date-dropdown__label date-dropdown__label_undefined" for="date-dropdown-default">прибытие
                      </label>
                    </div>
                    <div class="date-dropdown__input">19.08.2019
                    </div>
                  </div>
                  <div class="date-dropdown">
                    <div class="date-dropdown__title">
                      <label class="date-dropdown__label date-dropdown__label date-dropdown__label_undefined" for="date-dropdown-default">выезд
                      </label>
                    </div>
                    <div class="date-dropdown__input">23.08.2019
                    </div>
                  </div>
                </div>
                <div class="summary__long-dropdown">
                  <div class="dropdown dropdown_">
                    <div class="dropdown__title">
                      <label class="dropdown__label">гости
                      </label>
                      <div class="dropdown__hover-text">
                      </div>
                    </div>
                    <div class="dropdown__select dropdown__select dropdown__select_undefined dropdown__select_">3 гостя
                    </div>
                  </div>
                </div>
                <div class="summary__description">
                  <div class="summary__description-element">
                    <div class="summary__name">9 990₽ х 4 суток
                    </div>
                    <div class="summary__sum">39 960₽
                    </div>
                  </div>
                  <div class="summary__middle-description-element">
                    <div class="summary__description-element">
                      <div class="summary__description-title">
                        <div class="summary__name">Сбор за услуги: скидка 2 179₽
                        </div>
                        <div class="summary__icon">
                        </div>
                      </div>
                      <div class="summary__sum">0₽
                      </div>
                    </div>
                  </div>
                  <div class="summary__description-element">
                    <div class="summary__description-title">
                      <div class="summary__name">Сбор за дополнительные услуги
                      </div>
                      <div class="summary__icon">
                      </div>
                    </div>
                    <div class="summary__sum">300₽
                    </div>
                  </div>
                </div>
                <div class="summary__out">
                  <div class="summary__out-title">Итого
                  </div>
                  <div class="summary__out-line">
                  </div>
                  <div class="summary__out-sum">38 081₽
                  </div>
                </div>
                <div class="summary__button">
                  <button class="button button button_long button button_long_with-arrow"> 
                    <div class="text text_button">забронировать
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="enter">
            <div class="enter__content">
              <div class="enter__title">Войти
              </div>
              <div class="enter__login-data">
                <div class="enter__email">
                  <div class="text-field">
                    <div class="text-field__title">
                      <label class="text-field__label text-field__label text-field__label_undefined">
                      </label>
                      <div class="text-field__hover-text">
                      </div>
                    </div><input class="text-field__input text-field__input text-field__input_undefined" placeholder="Email" type="email"/>
                  </div>
                </div>
                <div class="text-field">
                  <div class="text-field__title">
                    <label class="text-field__label text-field__label text-field__label_undefined">
                    </label>
                    <div class="text-field__hover-text">
                    </div>
                  </div><input class="text-field__input text-field__input text-field__input_undefined" placeholder="Пароль" type="password"/>
                </div>
              </div>
              <button class="button button button_long button button_long_with-arrow"> 
                <div class="text text_button">войти
                </div>
              </button>
              <div class="enter__sign-in">
                <div class="enter__comment">Нет аккаунта на Toxin?
                </div>
                <button class="button button button_short button button_light">создать
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="cards__col-third">
          <div class="calendar">
            <div class="calendar__month-picker">
              <div class="calendar__arrow-back">
              </div>
              <div class="calendar__title-month">Август 2019
              </div>
              <div class="calendar__arrow-forward">
              </div>
            </div>
            <div class="calendar__dates">
              <table class="calendar__table" cellspacing="0" cellpadding="0">
                <tr class="calendar__row">
                  <th class="calendar__cell calendar__cell_names">Пн
                  </th>
                  <th class="calendar__cell calendar__cell_names">Вт
                  </th>
                  <th class="calendar__cell calendar__cell_names">Ср
                  </th>
                  <th class="calendar__cell calendar__cell_names">Чт
                  </th>
                  <th class="calendar__cell calendar__cell_names">Пт
                  </th>
                  <th class="calendar__cell calendar__cell_names">Сб
                  </th>
                  <th class="calendar__cell calendar__cell_names">Вс
                  </th>
                </tr>
                <tr class="calendar__row">
                  <th class="calendar__cell calendar__cell_light">29
                  </th>
                  <th class="calendar__cell calendar__cell_light">30
                  </th>
                  <th class="calendar__cell calendar__cell_light">31
                  </th>
                  <th class="calendar__cell">1
                  </th>
                  <th class="calendar__cell">2
                  </th>
                  <th class="calendar__cell">3
                  </th>
                  <th class="calendar__cell">4
                  </th>
                </tr>
                <tr class="calendar__row">
                  <th class="calendar__cell">5
                  </th>
                  <th class="calendar__cell">6
                  </th>
                  <th class="calendar__cell">7
                  </th>
                  <th class="calendar__cell calendar__cell_chosen">8
                  </th>
                  <th class="calendar__cell">9
                  </th>
                  <th class="calendar__cell">10
                  </th>
                  <th class="calendar__cell">11
                  </th>
                </tr>
                <tr class="calendar__row">
                  <th class="calendar__cell">12
                  </th>
                  <th class="calendar__cell">13
                  </th>
                  <th class="calendar__cell">14
                  </th>
                  <th class="calendar__cell">15
                  </th>
                  <th class="calendar__cell">16
                  </th>
                  <th class="calendar__cell">17
                  </th>
                  <th class="calendar__cell">18
                  </th>
                </tr>
                <tr class="calendar__row">
                  <th class="calendar__cell calendar__cell_interval-left">19
                  </th>
                  <th class="calendar__cell calendar__cell_interval">20
                  </th>
                  <th class="calendar__cell calendar__cell_interval">21
                  </th>
                  <th class="calendar__cell calendar__cell_interval">22
                  </th>
                  <th class="calendar__cell calendar__cell_interval-right">23
                  </th>
                  <th class="calendar__cell">24
                  </th>
                  <th class="calendar__cell">25
                  </th>
                </tr>
                <tr class="calendar__row">
                  <th class="calendar__cell">26
                  </th>
                  <th class="calendar__cell">27
                  </th>
                  <th class="calendar__cell">28
                  </th>
                  <th class="calendar__cell">29
                  </th>
                  <th class="calendar__cell">30
                  </th>
                  <th class="calendar__cell">31
                  </th>
                  <th class="calendar__cell calendar__cell_light">1
                  </th>
                </tr>
              </table>
            </div>
            <div class="calendar__buttons">
              <button class="button button button_without-border_dark">очистить
              </button>
              <button class="button button button_without-border">применить
              </button>
            </div>
          </div>
          <div class="cards__room">
            <div class="room">
              <div class="room__slides" style="background: url('../../components/cards/room/first-room-background.png') no-repeat 100% 100%">
                <div class="room__left-grad">
                  <div class="room__left-button">
                  </div>
                </div>
                <div class="room__right-grad">
                  <div class="room__right-button">
                  </div>
                </div>
                <div class="room__dotts">
                  <div class="room__dot">
                  </div>
                  <div class="room__dot room__dot_fill">
                  </div>
                  <div class="room__dot room__dot_fill">
                  </div>
                  <div class="room__dot room__dot_fill">
                  </div>
                </div>
              </div>
              <div class="room__content">
                <div class="room__up">
                  <div class="room__head-elem">
                    <div class="room__num">№
                    </div>
                    <div class="room__num-set">888
                    </div>
                    <div class="room__class room__class room__class_lux">люкс
                    </div>
                  </div>
                  <div class="room__head-elem">
                    <div class="room__sum-set">9 990₽
                    </div>
                    <div class="room__interval">в сутки
                    </div>
                  </div>
                </div>
                <div class="room__line">
                </div>
                <div class="room__down">
                  <div class="room__down-elem">
                    <div class="rate-button"><input class="rate-button__input" type="radio" name="star1" value="1" checked="checked"/><input class="rate-button__input" type="radio" name="star1" value="2" checked="checked"/><input class="rate-button__input" type="radio" name="star1" value="3" checked="checked"/><input class="rate-button__input" type="radio" name="star1" value="4" checked="checked"/><input class="rate-button__input" type="radio" name="star1" value="5" checked="checked"/>
                    </div>
                  </div>
                  <div class="room__down-elem">  
                    <div class="room__num-review">145
                    </div>
                    <div class="room__text-review">Отзывов
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="room">
            <div class="room__slides" style="background: url('../../components/cards/room/second-room-background.png') no-repeat 100% 100%">
              <div class="room__left-grad">
                <div class="room__left-button">
                </div>
              </div>
              <div class="room__right-grad">
                <div class="room__right-button">
                </div>
              </div>
              <div class="room__dotts">
                <div class="room__dot">
                </div>
                <div class="room__dot room__dot_fill">
                </div>
                <div class="room__dot room__dot_fill">
                </div>
                <div class="room__dot room__dot_fill">
                </div>
              </div>
            </div>
            <div class="room__content">
              <div class="room__up">
                <div class="room__head-elem">
                  <div class="room__num">№
                  </div>
                  <div class="room__num-set">840
                  </div>
                  <div class="room__class room__class_">люкс
                  </div>
                </div>
                <div class="room__head-elem">
                  <div class="room__sum-set">9 990₽
                  </div>
                  <div class="room__interval">в сутки
                  </div>
                </div>
              </div>
              <div class="room__line">
              </div>
              <div class="room__down">
                <div class="room__down-elem">
                  <div class="rate-button"><input class="rate-button__input" type="radio" name="star1" value="1" checked="checked"/><input class="rate-button__input" type="radio" name="star1" value="2" checked="checked"/><input class="rate-button__input" type="radio" name="star1" value="3" checked="checked"/><input class="rate-button__input" type="radio" name="star1" value="4" checked="checked"/><input class="rate-button__input" type="radio" name="star1" value="5"/>
                  </div>
                </div>
                <div class="room__down-elem">  
                  <div class="room__num-review">65
                  </div>
                  <div class="room__text-review">Отзывов
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--+colors-types-->
      <!--+form-elements-->
    </div>
  </body>
</html>