/*	==========================================================================	*/
/*	PAGES                                                                    	*/
/*	==========================================================================	*/
.body .html {
  height: 100%;
  margin: 0;
}

/*	==========================================================================	*/
/*	SCREENS                                                                  	*/
/*	==========================================================================	*/ 
.colors__title, .calendar__title-month, .colors-types__h2-text {
  font-family: "Conv_Quicksand-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
  letter-spacing: -0.5px;
}

.colors-types__h1-text {
  font-family: "Conv_Quicksand-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
  letter-spacing: -0.5px;
}

.colors__color-name {
  font-family: "Conv_Quicksand-Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 29px;
}

.button, .filter-date-dropdown__label, .date-dropdown__label, .dropdown__label, .text-field__label, .form-elements__title-second, .form-elements__title-first, .colors-types__h3-text {
  font-family: "Conv_Montserrat-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
}

.filter-date-dropdown__input, .filter-date-dropdown__hover-text, .date-dropdown__input, .date-dropdown__hover-text, .dropdown__select, .text-field__input, .calendar__table, .colors-types__body-text, .colors-types__body-title, .colors-types__h3-title, .colors-types__h2-title, .colors-types__h1-title {
  font-family: "Conv_Montserrat-Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.colors-types {
  width: 1440px;
  height: 900px;
  background: #FFFFFF;
}

.colors-types__logo {
  margin-left: 30px;
  margin-top: 30px;
}

.colors-types__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1113px;
  height: 610px;
  margin-top: 65px;
  margin-left: 149.74px;
}

.colors-types__color {
  height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.colors-types__type {
  height: 321px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.colors-types__font-block {
  display: flex;
  flex-direction: row;
}

.colors-types__title-block {
  width: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.colors-types__text-block {
  margin-left: 30px;
  width: 350px;
}

.colors-types__h1-title {
  color: rgba(31, 32, 65, 0.25);
  font-size: 24px;
  line-height: 29px;
}

.colors-types__h2-title {
  color: rgba(31, 32, 65, 0.25);
  font-size: 19px;
  line-height: 23px;
}

.colors-types__h3-title {
  color: rgba(31, 32, 65, 0.25);
  font-size: 12px;
  line-height: 15px;
}

.colors-types__body-title {
  color: rgba(31, 32, 65, 0.25);
  font-size: 14px;
  line-height: 24px;
}

.colors-types__body-text {
  width: 301px;
}

.button, .filter-date-dropdown__label, .date-dropdown__label, .dropdown__label, .text-field__label, .form-elements__title-second, .form-elements__title-first, .colors-types__h3-text {
  font-family: "Conv_Montserrat-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
}

.filter-date-dropdown__input, .filter-date-dropdown__hover-text, .date-dropdown__input, .date-dropdown__hover-text, .dropdown__select, .text-field__input, .calendar__table, .colors-types__h1-title, .colors-types__h2-title, .colors-types__h3-title, .colors-types__body-title, .colors-types__body-text {
  font-family: "Conv_Montserrat-Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.form-elements {
  width: 100%;
  background: #FFFFFF;
}

.form-elements__logo {
  margin-left: 30px;
  margin-top: 30px;
}

.form-elements__text-checkbox-button-container {
  width: 1159px;
  margin-top: 62px;
  margin-left: 140px;
  display: flex;
  flex-direction: row;
}

.form-elements__text-fields {
  width: 320px;
}

.form-elements__textfield-element {
  margin-bottom: 21px;
}

.form-elements__dropdown-element {
  margin-bottom: 40px;
}

.form-elements__date-dropdown {
  display: flex;
  flex-diraction: row;
  justify-content: space-between;
}

.form-elements__checkboxes {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin-left: 126px;
}

.form-elements__checkbox-element {
  margin-bottom: 40.88px;
  width: 222px;
}

.form-elements__title-first {
  margin-bottom: 16.56px;
}

.form-elements__checkbox-first {
  margin-bottom: 11.56px;
}

.form-elements__checkbox-second {
  margin-bottom: 11px;
}

.form-elements__title-second {
  margin-bottom: 16px;
}

.form-elements__radio-element {
  width: 220.74px;
  margin-bottom: 44px;
}

.form-elements__radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-elements__toggle-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 48.44px;
}

.form-elements__toggle {
  margin-bottom: 16px;
}

.form-elements__like-button-element {
  width: 89.72px;
}

.form-elements__like-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 3px;
  margin-bottom: 37px;
}

.form-elements__rate-button-element {
  width: 259.74px;
}

.form-elements__rate-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-elements__dropdown-container {
  width: 1159px;
  height: 265.56px;
  margin-top: 100px;
  margin-left: 140px;
  background-color: #000000;
}

.form-elements__checkbox-dropdown {
  width: 1131px;
  height: 281.44px;
  margin-top: 40.44px;
  margin-left: 140px;
  background-color: #000000;
}

.form-elements__comments-container {
  width: 1158px;
  height: 158px;
  margin-top: 100.56px;
  margin-left: 140px;
  background-color: #000000;
}

/*	==========================================================================	*/
/*  LOGO                                                                       	*/
/*	==========================================================================	*/ 
.logo {
  width: 45px;
  height: 45px;
}

.logo_disabled {
  width: 45px;
  height: 45px;
}

/*	==========================================================================	*/
/*	CARDS                                                                   	*/
/*	==========================================================================	*/ 
.colors__title, .calendar__title-month, .colors-types__h2-text {
  font-family: "Conv_Quicksand-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
  letter-spacing: -0.5px;
}

.colors-types__h1-text {
  font-family: "Conv_Quicksand-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
  letter-spacing: -0.5px;
}

.filter-date-dropdown__input, .filter-date-dropdown__hover-text, .date-dropdown__input, .date-dropdown__hover-text, .dropdown__select, .text-field__input, .calendar__table, .colors-types__h1-title, .colors-types__h2-title, .colors-types__h3-title, .colors-types__body-title, .colors-types__body-text {
  font-family: "Conv_Montserrat-Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.button, .filter-date-dropdown__label, .date-dropdown__label, .dropdown__label, .text-field__label, .colors-types__h3-text, .form-elements__title-first, .form-elements__title-second {
  font-family: "Conv_Montserrat-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
}

.calendar {
  background: white;
  display: flex;
  flex-direction: column;
  width: 320px;
  padding-left: 20px;
  padding-top: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
}

.calendar__month-picker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 280px;
}

.calendar__arrow-back {
  background: url("../../components/cards/calendar/arrow-back.svg") no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.calendar__arrow-forward {
  background: url("../../components/cards/calendar/arrow-forward.svg") no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.calendar__dates {
  margin-bottom: 20px;
}

.calendar__table {
  border-spacing: 0;
  boder: 0;
  border-collapse: collapse;
}

.calendar__row {
  height: 40px;
}

.calendar__cell {
  width: 40px;
  font-size: 12px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
}

.calendar__cell_names {
  font-family: "Conv_Montserrat-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #BC9CFF;
}

.calendar__cell_light {
  color: rgba(31, 32, 65, 0.25);
}

.calendar__cell_chosen {
  font-family: "Conv_Montserrat-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: white;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 50%;
}

.calendar__cell_interval {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
}

.calendar__cell_interval-left {
  font-family: "Conv_Montserrat-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: white;
  background: url("../../components/cards/calendar/interval-circle.svg") no-repeat 100% 100%, url("../../components/cards/calendar/interval-left-background.svg") no-repeat;
}

.calendar__cell_interval-right {
  font-family: "Conv_Montserrat-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: white;
  background: url("../../components/cards/calendar/interval-circle.svg") no-repeat 100% 100%, url("../../components/cards/calendar/interval-right-background.svg") no-repeat;
}

.calendar__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
}

/*	==========================================================================	*/
/*	COLORS                                                                  	*/
/*	==========================================================================	*/ 
.colors__title, .colors-types__h2-text, .calendar__title-month {
  font-family: "Conv_Quicksand-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
  letter-spacing: -0.5px;
}

.colors-types__h1-text {
  font-family: "Conv_Quicksand-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
  letter-spacing: -0.5px;
}

.colors__color-name {
  font-family: "Conv_Quicksand-Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 29px;
}

.colors {
  height: 70px;
  display: flex;
  align-items: center;
}

.colors__text-box {
  display: flex;
  flex-direction: column;
  height: 57px;
  margin-left: 40px;
  margin-top: 5px;
}

.colors__color-box_dark-shade-5 {
  fill: rgba(31, 32, 65, 0.05);
}

.colors__color-box_dark-shade-25 {
  fill: rgba(31, 32, 65, 0.25);
}

.colors__color-box_dark-shade-50 {
  fill: rgba(31, 32, 65, 0.5);
}

.colors__color-box_dark-shade-75 {
  fill: rgba(31, 32, 65, 0.75);
}

.colors__color-box_dark-shade-100 {
  fill: #1F2041;
}

.colors__color-box_green {
  fill: #6FCF97;
}

.colors__color-box_purple {
  fill: #BC9CFF;
}

/*	==========================================================================	*/
/*	TEXT-FIELD                                                                 	*/
/*	==========================================================================	*/ 
.button, .filter-date-dropdown__label, .date-dropdown__label, .dropdown__label, .text-field__label, .colors-types__h3-text, .form-elements__title-first, .form-elements__title-second {
  font-family: "Conv_Montserrat-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
}

.filter-date-dropdown__input, .filter-date-dropdown__hover-text, .date-dropdown__input, .date-dropdown__hover-text, .dropdown__select, .text-field__input, .colors-types__h1-title, .colors-types__h2-title, .colors-types__h3-title, .colors-types__body-title, .colors-types__body-text, .calendar__table {
  font-family: "Conv_Montserrat-Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.text-field {
  width: 320px;
  display: flex;
  flex-direction: column;
}

.text-field__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-field__hover-text {
  font-family: "Conv_Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}

.text-field__input {
  margin-top: 5px;
  height: 42px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  padding-left: 15px;
  padding-right: 15px;
}

.text-field__input::placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.text-field__input:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.text-field__input::focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.text-field__input_hover-focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.text-field__input_hover-focus::placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.text-field__input_with-arrow {
  background: url("../../components/text-field/_with-arrow/arrow.svg") no-repeat 233px 15px;
  background-size: auto 40%;
  width: 233px;
}

/*	==========================================================================	*/
/*	DROPDOWNS                                                                 	*/
/*	==========================================================================	*/ 
.button, .filter-date-dropdown__label, .date-dropdown__label, .dropdown__label, .colors-types__h3-text, .form-elements__title-first, .form-elements__title-second, .text-field__label {
  font-family: "Conv_Montserrat-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
}

.filter-date-dropdown__input, .filter-date-dropdown__hover-text, .date-dropdown__input, .date-dropdown__hover-text, .dropdown__select, .colors-types__h1-title, .colors-types__h2-title, .colors-types__h3-title, .colors-types__body-title, .colors-types__body-text, .calendar__table, .text-field__input {
  font-family: "Conv_Montserrat-Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.dropdown {
  width: 320px;
  display: flex;
  flex-direction: column;
}

.dropdown__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown__hover-text {
  font-family: "Conv_Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}

.dropdown__select {
  margin-top: 5px;
  height: 42px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  padding-left: 15px;
  padding-right: 15px;
  -webkit-appearance: none;
  background: url("../../components/dropdown/arrow-dropdown.svg") no-repeat 290px;
}

.dropdown__select::placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.dropdown__select:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.dropdown__select::focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.button, .filter-date-dropdown__label, .date-dropdown__label, .colors-types__h3-text, .form-elements__title-first, .form-elements__title-second, .text-field__label, .dropdown__label {
  font-family: "Conv_Montserrat-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
}

.filter-date-dropdown__input, .filter-date-dropdown__hover-text, .date-dropdown__input, .date-dropdown__hover-text, .colors-types__h1-title, .colors-types__h2-title, .colors-types__h3-title, .colors-types__body-title, .colors-types__body-text, .calendar__table, .text-field__input, .dropdown__select {
  font-family: "Conv_Montserrat-Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.date-dropdown {
  display: flex;
  flex-direction: column;
}

.date-dropdown__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date-dropdown__hover-text {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}

.date-dropdown__input {
  margin-top: 5px;
  height: 40px;
  width: 118px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  padding-left: 15px;
  padding-right: 15px;
  -webkit-appearance: none;
  background: url("../../components/dropdown/arrow-dropdown.svg") no-repeat 120px;
  cursor: pointer;
}

.date-dropdown__input::placeholder {
  color: rgba(31, 32, 65, 0.25);
  text-transform: uppercase;
}

.date-dropdown__input:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.date-dropdown__input::focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.button, .filter-date-dropdown__label, .colors-types__h3-text, .form-elements__title-first, .form-elements__title-second, .text-field__label, .dropdown__label, .date-dropdown__label {
  font-family: "Conv_Montserrat-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
}

.filter-date-dropdown__input, .filter-date-dropdown__hover-text, .colors-types__h1-title, .colors-types__h2-title, .colors-types__h3-title, .colors-types__body-title, .colors-types__body-text, .calendar__table, .text-field__input, .dropdown__select, .date-dropdown__hover-text, .date-dropdown__input {
  font-family: "Conv_Montserrat-Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.filter-date-dropdown {
  display: flex;
  flex-direction: column;
}

.filter-date-dropdown__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-date-dropdown__hover-text {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}

.filter-date-dropdown__input {
  margin-top: 5px;
  height: 40px;
  width: 233px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  padding-left: 15px;
  padding-right: 15px;
  -webkit-appearance: none;
  background: url("../../components/dropdown/arrow-dropdown.svg") no-repeat 236px;
  cursor: pointer;
}

.filter-date-dropdown__input::placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.filter-date-dropdown__input:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.filter-date-dropdown__input::focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

/*	==========================================================================	*/
/*	BUTTONS                                                                  	*/
/*	==========================================================================	*/ 
.button, .colors-types__h3-text, .form-elements__title-first, .form-elements__title-second, .text-field__label, .dropdown__label, .date-dropdown__label, .filter-date-dropdown__label {
  font-family: "Conv_Montserrat-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  height: 44px;
  outline: none;
  text-decoration: none;
  color: white;
  border: 0px solid transparent;
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  cursor: pointer;
}

.button_without-border {
  color: #BC9CFF;
  min-width: 73px;
  height: 15px;
  border: 0px solid transparent;
  border-radius: 0px;
  background: #ffffff;
}

.button_without-border_dark {
  color: rgba(31, 32, 65, 0.5);
  min-width: 73px;
  height: 15px;
  border: 0px solid transparent;
  border-radius: 0px;
  background: #ffffff;
}

.button_long {
  min-width: 320px;
}

.button_long_with-arrow {
  background-image: src("../../components/button/_long/_with-arrow/arrow.svg"), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-blend-mode: normal;
}

.text_button {
  float: left;
}

.button_short {
  width: 99px;
}

.button_light {
  background: #ffffff;
  color: #BC9CFF;
  border: 2px solid transparent;
  border-color: #BC9CFF;
}

.button_disabled {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}

.button_disabled-light {
  border-color: rgba(188, 156, 255, 0.5);
  background: #ffffff;
}

.button_without-border {
  color: #BC9CFF;
  min-width: 73px;
  height: 15px;
  border: 0px solid transparent;
  border-radius: 0px;
  background: #ffffff;
}

.button_without-border_dark {
  color: rgba(31, 32, 65, 0.5);
  min-width: 73px;
  height: 15px;
  border: 0px solid transparent;
  border-radius: 0px;
  background: #ffffff;
}

.colors-types__h1-title, .colors-types__h2-title, .colors-types__h3-title, .colors-types__body-title, .colors-types__body-text, .calendar__table, .text-field__input, .dropdown__select, .date-dropdown__hover-text, .date-dropdown__input, .filter-date-dropdown__hover-text, .filter-date-dropdown__input {
  font-family: "Conv_Montserrat-Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.like-button__button {
  width: 40px;
  height: 20px;
  font-family: "Conv_Montserrat-Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  background: url("../../components/like-button/heart-clicked.svg") no-repeat 5px 4px;
  color: rgba(31, 32, 65, 0.25);
  border-color: rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  border: 1px solid;
  padding-left: 15px;
  cursor: pointer;
}

.like-button__button_clicked {
  background: url("../../components/like-button/heart-default.svg") no-repeat 5px 4px;
  border-color: #BC9CFF;
  color: #BC9CFF;
}

.like-button__button:focus {
  outline: none;
}

.rate-button {
  position: relative;
  width: 120px;
  height: 24px;
  background: url("../../components/rate-button/rate-button-default.svg");
  background-size: auto;
}

.rate-button__input {
  -webkit-appearance: none;
  -mos-appearance: none;
  appearence: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  font-size: inherit;
  margin: 0;
}

.rate-button__input:focus {
  outline: none;
}

.rate-button__input:checked {
  background: url("../../components/rate-button/rate-button-on.svg") repeat-x;
  background-size: auto;
}

.rate-button__input:nth-of-type(1) {
  width: 24px;
  z-index: 5;
}

.rate-button__input:nth-of-type(2) {
  width: 48px;
  z-index: 4;
}

.rate-button__input:nth-of-type(3) {
  width: 72px;
  z-index: 3;
}

.rate-button__input:nth-of-type(4) {
  width: 96px;
  z-index: 2;
}

.rate-button__input:nth-of-type(5) {
  width: 120px;
  z-index: 1;
}

/*	==========================================================================	*/
/*	CHECKBOX & RADIO & TOGGLE                                                	*/
/*	==========================================================================	*/ 
.colors-types__h3-text, .form-elements__title-first, .form-elements__title-second, .text-field__label, .dropdown__label, .date-dropdown__label, .filter-date-dropdown__label, .button {
  font-family: "Conv_Montserrat-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
}

.colors-types__h1-title, .colors-types__h2-title, .colors-types__h3-title, .colors-types__body-title, .colors-types__body-text, .calendar__table, .text-field__input, .dropdown__select, .date-dropdown__hover-text, .date-dropdown__input, .filter-date-dropdown__hover-text, .filter-date-dropdown__input {
  font-family: "Conv_Montserrat-Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.checkbox {
  display: flex;
  flex-direction: row;
}

.checkbox__input {
  -webkit-appearance: none;
  -mos-appearance: none;
  appearence: none;
  position: absolute;
}

.checkbox__span {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../../components/checkbox/background-default.svg") no-repeat 100% 100%;
  margin-left: -28px;
  cursor: pointer;
}

.checkbox__label {
  display: flex;
  flex-direction: row;
  font-family: "Conv_Montserrat-Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  padding-left: 28px;
}

.checkbox__label-text {
  margin-top: 2px;
}

.checkbox__input:checked + .checkbox__span {
  background: url("../../components/checkbox/background-checked.svg") no-repeat 50% 50%;
}

.colors-types__h3-text, .form-elements__title-first, .form-elements__title-second, .text-field__label, .dropdown__label, .date-dropdown__label, .filter-date-dropdown__label, .button {
  font-family: "Conv_Montserrat-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
}

.colors-types__h1-title, .colors-types__h2-title, .colors-types__h3-title, .colors-types__body-title, .colors-types__body-text, .calendar__table, .text-field__input, .dropdown__select, .date-dropdown__hover-text, .date-dropdown__input, .filter-date-dropdown__hover-text, .filter-date-dropdown__input {
  font-family: "Conv_Montserrat-Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.radio {
  display: flex;
  flex-direction: row;
}

.radio__input {
  -webkit-appearance: none;
  -mos-appearance: none;
  appearence: none;
  position: absolute;
}

.radio__span {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../../components/radio/background-default.svg") no-repeat 100% 100%;
  margin-left: -30px;
  cursor: pointer;
}

.radio__label {
  font-family: "Conv_Montserrat-Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  padding-left: 30px;
}

.radio__input:checked + .radio__span {
  background: url("../../components/radio/background-checked.svg") no-repeat 50% 50%;
}

.colors-types__h3-text, .form-elements__title-first, .form-elements__title-second, .text-field__label, .dropdown__label, .date-dropdown__label, .filter-date-dropdown__label, .button {
  font-family: "Conv_Montserrat-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
}

.colors-types__h1-title, .colors-types__h2-title, .colors-types__h3-title, .colors-types__body-title, .colors-types__body-text, .calendar__table, .text-field__input, .dropdown__select, .date-dropdown__hover-text, .date-dropdown__input, .filter-date-dropdown__hover-text, .filter-date-dropdown__input {
  font-family: "Conv_Montserrat-Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.toggle {
  display: flex;
  flex-direction: row;
}

.toggle__input {
  -webkit-appearance: none;
  -mos-appearance: none;
  appearence: none;
  position: absolute;
}

.toggle__span {
  position: absolute;
  width: 37px;
  height: 18px;
  margin-left: -50px;
  cursor: pointer;
  transition: 0.5s;
  background: url("../../components/toggle/background-toggle-light.svg") no-repeat 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
}

.toggle__label {
  display: flex;
  flex-direction: row;
  font-family: "Conv_Montserrat-Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  padding-left: 50px;
}

.toggle__input:checked + .toggle__span {
  border: 1px solid #BC9CFF;
  background: url("../../components/toggle/background-toggle.svg") no-repeat 22px;
}

/*# sourceMappingURL=index.css.map */
