include ../../../bemto/bemto.pug

doctype html
+b.HTML.html(lang="ru")
    +b.HEAD
        meta(charset="utf-8")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        title UI for test
        link(rel="stylesheet" type="text/css" href="index.css")
        link(rel="stylesheet" href="../../assets/fonts/Montserrat-Bold/fonts.css" type="text/css" charset="utf-8")
        link(rel="stylesheet" href="../../assets/fonts/Montserrat-Regular/fonts.css" type="text/css" charset="utf-8")
        link(rel="stylesheet" href="../../assets/fonts/Quicksand-Bold/fonts.css" type="text/css" charset="utf-8")
        link(rel="stylesheet" href="../../assets/fonts/Quicksand-Regular/fonts.css" type="text/css" charset="utf-8")
        link(type="text/javascript" src="./index.js")
        link(type="text/javascript" src="./jquery.js")
        link(type="text/javascript" src="./jquery.maskedinput.min.js")
    +b.BODY.body
        include ../ui/ui.pug
        +ui
