include ../../components/colors-types/colors-types.pug
include ../../components/form-elements/form-elements.pug
include ../../components/cards/cards.pug
include ../../components/headers-footers/headers-footers.pug

mixin ui
    +b.ui
        //+headers-footers
        +cards
        //+colors-types
        //+form-elements
