include ../../components/colors-types/colors-types.pug
include ../../components/form-elements/form-elements.pug
include ../../components/cards/cards.pug

mixin ui
    +b.ui
        +cards
        //+colors-types
        //+form-elements
