include ../../../bemto/bemto.pug

doctype html
html(lang="ru")
    head
        title UI for test
        meta(name="viewport" content="width=device-width, user-scalable=no")
        link(rel="stylesheet" type="text/css" href="index.css")
        link(rel="stylesheet" href="../../assets/fonts/Montserrat-Bold/fonts.css" type="text/css" charset="utf-8")
        link(rel="stylesheet" href="../../assets/fonts/Montserrat-Regular/fonts.css" type="text/css" charset="utf-8")
        link(rel="stylesheet" href="../../assets/fonts/Quicksand-Bold/fonts.css" type="text/css" charset="utf-8")
        link(rel="stylesheet" href="../../assets/fonts/Quicksand-Regular/fonts.css" type="text/css" charset="utf-8")
    +b.BODY
        include ../../components/logo/logo.pug
        include ../../components/button/button.pug
        include ../../components/button/_long/_with-arrow/button_with-arrow.pug
        include ../../components/colors-types/colors-types.pug
        +colors-types
        //+colors('dark-shade-100', 'Dark Shade 100%', '#1F2041')
        //+colors('purple', 'Dark Shade 100%', '#1F2041')
        //+button('button button_short','click me')
        //+button('button button_short button_light','click me')
        //+button('button button_long','click me')
        //+button('button button_long button_long_with-arrow','click me')
        //+button('button button_short button_disabled','click me')
        //+button('button button_short button_light button_disabled-light','click me')
        //+button('button button_without-border_dark','click me')
        //+button('button button_without-border','click me')
        //+button_with-arrow('click me')
