.logo {
  width: 45px;
  height: 45px;
}

.logo_disabled {
  width: 45px;
  height: 45px;
}

/*	==========================================================================	*/
/*	SCREENS                                                                  	*/
/*	==========================================================================	*/ 
.colors__title, .colors-types__h2-text {
  font-family: "Conv_Quicksand-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
  letter-spacing: -0.5px;
}

.colors-types__h1-text {
  font-family: "Conv_Quicksand-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
  letter-spacing: -0.5px;
}

.colors__color-name {
  font-family: "Conv_Quicksand-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 29px;
}

.button, .text-field__label, .colors-types__h3-text {
  font-family: "Conv_Montserrat-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
}

.text-field__input, .text-field__hover-text, .colors-types__body-text, .colors-types__body-title, .colors-types__h3-title, .colors-types__h2-title, .colors-types__h1-title {
  font-family: "Conv_Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.colors-types {
  width: 1440px;
  height: 900px;
  background: #FFFFFF;
}

.colors-types__logo {
  margin-left: 30px;
  margin-top: 30px;
}

.colors-types__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1113px;
  height: 610px;
  margin-top: 65px;
  margin-left: 149.74px;
}

.colors-types__color {
  height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.colors-types__type {
  height: 321px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.colors-types__font-block {
  display: flex;
  flex-direction: row;
}

.colors-types__title-block {
  width: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.colors-types__text-block {
  margin-left: 30px;
  width: 350px;
}

.colors-types__h1-title {
  color: rgba(31, 32, 65, 0.25);
  font-size: 24px;
  line-height: 29px;
}

.colors-types__h2-title {
  color: rgba(31, 32, 65, 0.25);
  font-size: 19px;
  line-height: 23px;
}

.colors-types__h3-title {
  color: rgba(31, 32, 65, 0.25);
  font-size: 12px;
  line-height: 15px;
}

.colors-types__body-title {
  color: rgba(31, 32, 65, 0.25);
  font-size: 14px;
  line-height: 24px;
}

.colors-types__body-text {
  width: 301px;
}

.form-elements {
  width: 1440px;
  height: 1853px;
  background: #FFFFFF;
}

.form-elements__logo {
  margin-left: 30px;
  margin-top: 30px;
}

.form-elements__text-checkbox-button-container {
  width: 1159px;
  height: 636px;
  margin-top: 62px;
  margin-left: 140px;
}

.form-elemnts__text-fields {
  width: 321px;
}

.form-elements__dropdown-container {
  width: 1159px;
  height: 265.56px;
  margin-top: 100px;
  margin-left: 140px;
  background-color: #000000;
}

.form-elements__checkbox-dropdown {
  width: 1131px;
  height: 281.44px;
  margin-top: 40.44px;
  margin-left: 140px;
  background-color: #000000;
}

.form-elements__comments-container {
  width: 1158px;
  height: 158px;
  margin-top: 100.56px;
  margin-left: 140px;
  background-color: #000000;
}

.form-elements__textfields-element {
  margin-bottom: 21px;
}

/*	==========================================================================	*/
/*	COLORS                                                                  	*/
/*	==========================================================================	*/ 
.colors__title, .colors-types__h2-text {
  font-family: "Conv_Quicksand-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
  letter-spacing: -0.5px;
}

.colors-types__h1-text {
  font-family: "Conv_Quicksand-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
  letter-spacing: -0.5px;
}

.colors__color-name {
  font-family: "Conv_Quicksand-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 29px;
}

.colors {
  height: 70px;
  display: flex;
  align-items: center;
}

.colors__text-box {
  display: flex;
  flex-direction: column;
  height: 57px;
  margin-left: 40px;
  margin-top: 5px;
}

.colors__color-box_dark-shade-5 {
  fill: rgba(31, 32, 65, 0.05);
}

.colors__color-box_dark-shade-25 {
  fill: rgba(31, 32, 65, 0.25);
}

.colors__color-box_dark-shade-50 {
  fill: rgba(31, 32, 65, 0.5);
}

.colors__color-box_dark-shade-75 {
  fill: rgba(31, 32, 65, 0.75);
}

.colors__color-box_dark-shade-100 {
  fill: #1F2041;
}

.colors__color-box_green {
  fill: #6FCF97;
}

.colors__color-box_purple {
  fill: #BC9CFF;
}

/*	==========================================================================	*/
/*	TEXT-FIELD                                                                 	*/
/*	==========================================================================	*/ 
.button, .text-field__label, .colors-types__h3-text {
  font-family: "Conv_Montserrat-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
}

.text-field__input, .text-field__hover-text, .colors-types__h1-title, .colors-types__h2-title, .colors-types__h3-title, .colors-types__body-title, .colors-types__body-text {
  font-family: "Conv_Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.text-field {
  width: 320px;
  display: flex;
  flex-direction: column;
}

.text-field__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-field__hover-text {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}

.text-field__input {
  margin-top: 5px;
  height: 42px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  padding-left: 15px;
  padding-right: 15px;
}

.text-field__input::placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.text-field__input:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.text-field__input::focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.text-field__input_hover-focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.text-field__input_hover-focus::placeholder {
  color: rgba(31, 32, 65, 0.75);
}

/*	==========================================================================	*/
/*	BUTTONS                                                                  	*/
/*	==========================================================================	*/ 
.button, .colors-types__h3-text, .text-field__label {
  font-family: "Conv_Montserrat-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  height: 44px;
  outline: none;
  text-decoration: none;
  color: white;
  border: 0px solid transparent;
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  cursor: pointer;
}

.button_without-border {
  color: #BC9CFF;
  min-width: 73px;
  height: 15px;
  border: 0px solid transparent;
  border-radius: 0px;
  background: #ffffff;
}

.button_without-border_dark {
  color: rgba(31, 32, 65, 0.5);
  min-width: 73px;
  height: 15px;
  border: 0px solid transparent;
  border-radius: 0px;
  background: #ffffff;
}

.button_long {
  min-width: 320px;
}

.button_long_with-arrow {
  background-image: src("../../components/button/_long/_with-arrow/arrow.svg"), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-blend-mode: normal;
}

.text_button {
  float: left;
}

.button_short {
  width: 99px;
}

.button_light {
  background: #ffffff;
  color: #BC9CFF;
  border: 2px solid transparent;
  border-color: #BC9CFF;
}

.button_disabled {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}

.button_disabled-light {
  border-color: rgba(188, 156, 255, 0.5);
  background: #ffffff;
}

.button_without-border {
  color: #BC9CFF;
  min-width: 73px;
  height: 15px;
  border: 0px solid transparent;
  border-radius: 0px;
  background: #ffffff;
}

.button_without-border_dark {
  color: rgba(31, 32, 65, 0.5);
  min-width: 73px;
  height: 15px;
  border: 0px solid transparent;
  border-radius: 0px;
  background: #ffffff;
}

/*# sourceMappingURL=index.css.map */
