include ../../components/colors/colors.pug
include ../../components/logo/logo.pug
-
    var colorContent = [
        {name: 'dark-shade-100', title: 'Dark Shade 100%', color: '#1F2041'},
        {name: 'dark-shade-75', title: 'Dark Shade 75%', color: '#1F2041'},
        {name: 'dark-shade-50', title: 'Dark Shade 50%', color: '#1F2041'},
        {name: 'dark-shade-25', title: 'Dark Shade 25%', color: '#1F2041'},
        {name: 'dark-shade-5', title: 'Dark Shade 5%', color: '#1F2041'},
        {name: 'purple', title: 'Purple', color: '#BC9CFF'},
        {name: 'green', title: 'Green', color: '#6FCF97'}
    ]
mixin colors-types
    +b.SECTION.colors-types
        +e.color
            each val in colorContent
                +colors(val.name, val.title, val.color) 
        +e.type
            +e.font-block
                +e.title-block
                    +e.h1-title H1
                +e.text-block
                    +e.h1-text This one is the sub-section or widget title
            +e.font-block
                +e.title-block
                    +e.h2-title H2
                +e.text-block
                    +e.h2-text Next one is the item title inside widgets
            +e.font-block
                +e.title-block
                    +e.h3-title H3
                +e.text-block
                    +e.h3-text This is a label or CTA text
            +e.font-block
                +e.title-block
                    +e.body-title Body
                +e.text-block
                    +e.body-text This is the body text which is used for most of the design, like paragraphs, lists, etc.
