@import '../../assets/fonts/Quicksand-Bold/Quicksand-Bold'
@import '../../assets/fonts/Quicksand-Regular/Quicksand-Regular'
@import '../../assets/fonts/Montserrat-Bold/Montserrat-Bold'
@import '../../assets/fonts/Montserrat-Regular/Montserrat-Regular'

$title-color: rgba(31, 32, 65, 0.25)

.colors-types
    width: 100%
    padding-top: 145px
    padding-bottom: 145px
    padding-left: 150px
    padding-right: 190px
    background: url('../../components/logo/_disabled/logo_disabled.svg') no-repeat 30px 30px, #FFFFFF
    background-size: 47px 47px
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: space-between
    flex-wrap: wrap
    box-sizing: border-box
    margin: 0


.colors-types__color
    height: 610px
    display: flex
    flex-direction: column
    justify-content: space-between

.colors-types__type
    height: 321px
    display: flex
    flex-direction: column
    justify-content: space-between

.colors-types__font-block
    display: flex
    flex-direction: row

.colors-types__title-block
    width: 30px
    display: flex
    flex-direction: row
    justify-content: flex-end

.colors-types__text-block
    margin-left: 30px
    width: 350px

.colors-types__h1-title
    @extend %montserrat-regular
    color: $title-color
    font-size: 24px
    line-height: 29px

.colors-types__h1-text
    @extend %quicksand-bold-h1

.colors-types__h2-title
    @extend %montserrat-regular
    color: $title-color
    font-size: 19px
    line-height: 23px

.colors-types__h2-text
    @extend %quicksand-bold-h2

.colors-types__h3-title
    @extend %montserrat-regular
    color: $title-color
    font-size: 12px
    line-height: 15px

.colors-types__h3-text
    @extend %montserrat-bold

.colors-types__body-title
    @extend %montserrat-regular
    color: $title-color
    font-size: 14px
    line-height: 24px

.colors-types__body-text
    @extend %montserrat-regular
    width: 301px




