.button
    width: 99px
    height: 44px
    font-family:'Conv_Montserrat-Bold'
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 15px
    /* identical to box height */
    text-transform: uppercase
    color: white
    border-radius: 22px
    border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    border-style: solid
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
