include ../../../components/headers-footers-logo/headers-footers-logo.pug

mixin footer-creative
    +b.footer-creative
        +headers-footers-logo
        +e.copyright-text Copyright © 2018 Toxin отель. Все права зачищены.
        +e.icons
                +e.icon-1
                +e.icon-2
                +e.icon-3
