.button_long_with-arrow
    background-image:  src('../../components/button/_long/_with-arrow/arrow.svg'), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    background-blend-mode: normal
    //background: url('./arrow.svg') no-repeat top right

.text_button
    float: left


