mixin button_with-arrow(text)
    +b.BUTTON(class='button button_long button_long_with-arrow') 
        +b.text_button #{text}
        +b.IMG.text_button(src='../../components/button/_long/_with-arrow/arrow.svg')