include ../../components/logo/logo.pug

mixin headers-footers-logo
    +b.headers-footers-logo
        +e.logo
            +logo('')
        +e.IMG.toxin-text(src="../../components/headers-footers-logo/toxin-logo.svg")
