mixin date-dropdown(params)
    +b.date-dropdown
        +e.title
            +e.LABEL.label(for=params.id class="date-dropdown__label_"+params.state) #{params.label_text}
        +e.input #{params.placeholder}