mixin toggle(params)
    +b.toggle
        +e.LABEL.label
            +e.INPUT.input(type="checkbox" name=params.name value=params.value checked=params.state)
            +e.SPAN.span
                +e.SPAN.round
            +e.label-text #{params.label_text}