
@import '../../assets/fonts/Montserrat-Bold/Montserrat-Bold'
@import '../../assets/fonts/Montserrat-Regular/Montserrat-Regular'

.form-elements
    width: 100%
    padding-bottom: 131px
    padding-top: 140px
    padding-left: 140px
    padding-right: 140px
    background: url('../../components/logo/_disabled/logo_disabled.svg') no-repeat 30px 30px, #FFFFFF
    background-size: 47px 47px
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    flex-wrap: wrap
    box-sizing: border-box
    margin: 0


.form-elements__text-checkbox-button-container
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap


.form-elements__textfield-element
    margin-bottom: 20px

.textfield-element1
    margin-top: 2px

.textfield-element2
    margin-bottom: 24px

.form-elements__dropdown-element
    margin-bottom: 40px

.dropdown-element1
    margin-bottom: 42px

.dropdown-element2
    margin-bottom: 42px

.form-elements__date-dropdown
    display: flex
    flex-diraction: row
    justify-content: space-between

.form-elements__checkboxes
    display: flex
    flex-direction: column

.form-elements__checkbox-element
    margin-bottom: 40.88px
    width: 222px

.form-elements__title-first
    @extend %montserrat-bold
    margin-bottom: 16.56px

.form-elements__checkbox-first
    margin-bottom: 11.56px

.form-elements__checkbox-second
    margin-bottom: 11px

.form-elements__title-second
    @extend %montserrat-bold
    margin-bottom: 16px

.form-elements__radio-element
    width: 220.74px
    margin-bottom: 44px

.form-elements__radio-group
    display: flex
    flex-direction: row
    justify-content: space-between

.form-elements__toggle-element
    display: flex
    flex-direction: column
    margin-bottom: 48.44px

.form-elements__toggle
    margin-bottom: 16px

.form-elements__like-button-element
    width: 89.72px

.form-elements__like-button
    display: flex
    flex-direction: row
    justify-content: space-between
    padding-bottom: 3px
    margin-bottom: 37px

.form-elements__rate-button-element
    width: 259.74px

.form-elements__rate-button
    display: flex
    flex-direction: row
    justify-content: space-between

.form-elements__buttons
    display: flex
    flex-direction: column

.form-elements__slider-element
    height: 89px

.form-elements__button-element
    margin-bottom: 40px

.form-elements__button
    display: flex
    flex-direction: row
    margin-bottom: 30px

.form-elements__button-second
    margin-left: 20px

.form-elements__button-third
    width: 140px
    display: flex
    flex-direction: row
    justify-content: space-between

.form-elements__dropdown-container
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap
    margin-top: 100px

.form-elements__checkbox-dropdown
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap
    margin-top: 40.44px

.form-elements__expandable-dropdown-element
    margin-top: 15px
    margin-bottom: 51px

.form-elements__rich-checkbox
   margin-top: 15px
   //margin-left: 193px 

.form-elements__rich-checkbox-element 
    margin-bottom: 11px

.form-elements__bullet-list
    margin-top: 15px
    //margin-left: 132px 

.form-elements__comments-container
    margin-top: 90px
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap

.form-elements__icon-first
    margin-bottom: 19px

.form-elements__dividing-line
    width: 280px
    height: 1px
    background: rgba(31, 32, 65, 0.1)

.form-elements__icon-second
    margin-top: 21px
    margin-bottom: 19px

.form-elements__comments
    //margin-left: 166px
    margin-top: 8px