
@import '../../assets/fonts/Montserrat-Bold/Montserrat-Bold'
@import '../../assets/fonts/Montserrat-Regular/Montserrat-Regular'

.form-elements
    width: 100%
    background: #FFFFFF

.form-elements__logo
    margin-left: 30px
    margin-top: 30px

.form-elements__content-container

.form-elements__text-checkbox-button-container
    width: 1159px
    margin-top: 62px
    margin-left: 140px
    display: flex
    flex-direction: row

.form-elements__text-fields
    width: 320px

.form-elements__textfield-element
    margin-bottom: 21px

.form-elements__dropdown-element
    margin-bottom: 40px

.form-elements__date-dropdown
    display: flex
    flex-diraction: row
    justify-content: space-between

.form-elements__checkboxes
    display: flex
    flex-direction: column
    width: 260px
    margin-left: 126px

.form-elements__checkbox-element
    margin-bottom: 40.88px
    width: 222px

.form-elements__title-first
    @extend %montserrat-bold
    margin-bottom: 16.56px

.form-elements__checkbox-first
    margin-bottom: 11.56px

.form-elements__checkbox-second
    margin-bottom: 11px

.form-elements__title-second
    @extend %montserrat-bold
    margin-bottom: 16px

.form-elements__radio-element
    width: 220.74px
    margin-bottom: 44px

.form-elements__radio-group
    display: flex
    flex-direction: row
    justify-content: space-between

.form-elements__toggle-element
    display: flex
    flex-direction: column
    margin-bottom: 48.44px

.form-elements__toggle
    margin-bottom: 16px

.form-elements__like-button-element
    width: 89.72px

.form-elements__like-button
    display: flex
    flex-direction: row
    justify-content: space-between
    padding-bottom: 3px
    margin-bottom: 37px

.form-elements__rate-button-element
    width: 259.74px

.form-elements__rate-button
    display: flex
    flex-direction: row
    justify-content: space-between

.form-elements__buttons
    display: flex
    flex-direction: column
    margin-left: 132px

.form-elements__slider-element
    height: 89px

.form-elements__button-element
    margin-bottom: 40px

.form-elements__button
    display: flex
    flex-direction: row
    margin-bottom: 30px

.form-elements__button-second
    margin-left: 20px

.form-elements__dropdown-container
    width: 1159px
    height: 265.56px
    margin-top: 100px
    margin-left: 140px
    background-color: #000000

.form-elements__checkbox-dropdown
    width: 1131px
    height: 281.44px
    margin-top: 40.44px
    margin-left: 140px
    background-color: #000000

.form-elements__comments-container
    width: 1158px
    height: 158px
    margin-top: 100.56px
    margin-left: 140px
    background-color: #000000